@import '../../variables';

.header
{
    @include box-shadow(0, 1);

    position: fixed;
    top: 0;
    width: 100%;
    width: 100%;
    z-index: 2;

    span,
    a,
    button
    {
        font-size: 1em;

        &.brand
        {
            flex-shrink: 0;
            margin: 0;
            min-width: 52px;
            opacity: 1;
            padding: $padding;
            text-align: center;
        }

        & > img
        {
            max-height: 100%;
            max-width: 100%;
        }

        .icon-text
        {
            opacity: 0.8;
        }

        &.divider
        {
            &::after
            {
                border-left: $main-border;
                content: '';
                display: inline-block;
                height: 100%;
                margin-right: -0.05em;
                width: 1px;
            }
        }

        &.header-button
        {
            min-width: auto;
            opacity: 1;
        }

        .header-icon
        {
            margin-right: $margin;
        }
    }
}
