@import '../../variables';

$group-columns: 3;
$skill-columns: 2;

.divider
{
    margin: $margin-extra 0;
}

.heading
{
    display: flex;
    flex-direction: row;

    .image
    {
        $size: 300px;

        border: $main-border-light;
        border-radius: $border-radius;
        height: $size;
        overflow: hidden;
        width: $size;

        .placeholder
        {
            align-items: center;
            display: flex;
            font-size: 3em;
            height: 100%;
            justify-content: center;
            line-height: normal;
            opacity: 0.05;
            text-align: center;
            width: 100%;
        }
    }

    .image-text
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-left: $margin-extra;

        & > *
        {
            line-height: normal;
        }

        .head
        {
            @include box-shadow(0, 1);

            border-radius: $border-radius;
            min-height: auto;

            .name,
            .statement
            {
                height: auto;
                padding: $padding $padding-extra;

                &.name
                {
                    font-size: 1.3em;
                    padding-bottom: 0;
                }

                &.statement
                {
                    font-size: 1.1em;
                    opacity: 0.7;
                    padding-top: 0;
                }
            }
        }

        .info
        {
            flex-grow: 1;
            font-size: 1.1em;
            margin-left: $margin-extra;
            text-align: justify;
        }
    }
}

.group-container
{
    display: grid;
    grid-gap: $margin-extra;
    grid-template-columns: repeat($group-columns, 1fr);

    .group
    {
        display: flex;
        flex-direction: column;

        .name
        {
            @include box-shadow(0, 1);

            border-radius: $border-radius;
            height: auto;
            margin-bottom: $margin;
            padding: $padding $padding-extra;

            .icon-text
            {
                opacity: 0.8;
            }
        }

        .list-container
        {
            display: grid;
            grid-gap: $margin;
            grid-template-columns: repeat($skill-columns, 1fr);

            .skill
            {
                overflow: hidden;

                .title
                {
                    display: flex;
                    flex-direction: row;
                    font-size: 1.1em;

                    small
                    {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
