@import '../../variables';

$project-columns: 4;

.heading
{
    @include box-shadow(0, 1);

    border-radius: $border-radius;
    height: auto;
    margin: $margin-extra 0 $margin 0;
    padding: $padding $padding-extra;

    &:first-child
    {
        margin-top: 0;
    }
}

.list-container
{
    display: grid;
    grid-gap: $margin-extra;
    grid-template-columns: repeat($project-columns, 1fr);
}

.divider
{
    margin: $margin-extra 0;

    &:last-child
    {
        display: none;
    }
}
