@import '../variables';

.container
{
    .body-content
    {
        display: flex;
        height: 100vh;
        justify-content: center;
        overflow: hidden;
        padding-top: $header-height;

        .main-body
        {
            height: 100%;
            overflow: auto;
            padding: $padding-extra;
            width: 100%;
        }
    }
}
