@import '../../../variables';

.card
{
    display: flex;
    flex-direction: column;
    height: 100%;

    .header
    {
        .logo
        {
            background-size: cover;
            border-radius: 4px;
        }
    }

    .content
    {
        flex-grow: 1;
        padding: $padding;
        text-align: justify;
    }

    .tags
    {
        margin-bottom: $margin;
    }

    .actions
    {
        .link
        {
            text-transform: uppercase;
        }
    }
}
