@import '~@angular/material/theming';
@import './variables';

$theme-primary: $mat-green 600;
$theme-accent: $mat-grey 50;
$theme-warn: $mat-red 500;

@function theme-color($type: 'primary', $value: 'color')
    {
    // Accent
    @if $type == 'accent'
    {
        @if $value == 'raw'
        {
            @return $theme-accent;
        }
        @else
        {
            @return mat-color(nth($theme-accent, 1), nth($theme-accent, 2));
        }
    }

    // Warn
    @if $type == 'warn'
    {
        @if $value == 'raw'
        {
            @return $theme-warn;
        }
        @else
        {
            @return mat-color(nth($theme-warn, 1), nth($theme-warn, 2));
        }
    }

    // Primary (default)
    @if $value == 'raw'
    {
        @return $theme-primary;
    }
    @else
    {
        @return mat-color(nth($theme-primary, 1), nth($theme-primary, 2));
    }
}

::-webkit-scrollbar
{
    width: 10px;

    &-track,
    &-thumb
    {
        border: 1px inset rgba(0, 0, 0, 0.5);
    }
}

$primary-raw: theme-color('primary', 'raw');
$accent-raw: theme-color('accent', 'raw');
$warn-raw: theme-color('warn', 'raw');

$primary: mat-palette(nth($primary-raw, 1), nth($primary-raw, 2));
$accent: mat-palette(nth($accent-raw, 1), nth($accent-raw, 2));
$warn: mat-palette(nth($warn-raw, 1), nth($warn-raw, 2));

::-webkit-scrollbar
{
    $color: mat-color($primary);
    $color-dark: darken($color, 20%);

    &-track
    {
        background: $color-dark;
    }

    &-thumb
    {
        background: $color;

        &:active
        {
            background: darken($color, 5%);
        }
    }
}

a
{
    &:not(.mat-button):not(.mat-icon-button):not(.mat-raised-button):not(.mat-tab-link)
    {
        color: mat-color(mat-palette($mat-lime, 500));
        transition: opacity $transition-speed $transition-function;

        &:hover
        {
            opacity: 0.7;
        }
    }
}

@include angular-material-theme(mat-dark-theme($primary, $accent, $warn));
