@import '~@angular/material/theming';

$padding: 8px;
$padding-extra: $padding * 2;

$margin: $padding;
$margin-extra: $padding-extra;

$transition-speed: 0.4s;
$transition-function: cubic-bezier(0.25, 0.8, 0.25, 1);

$header-height: 48px;

$main-highlight: rgba(0, 0, 0, 0.12);
$main-hightlight-light: rgba(255, 255, 255, 0.12);

$main-border: 1px solid $main-highlight;
$main-border-light: 1px solid $main-hightlight-light;

$border-radius: 4px;

$background-dark-lighter: #424242;
$background-dark-darker: #303030;

$background-light-lighter: #FFFFFF;
$background-light-darker: #FAFAFA;

@mixin box-shadow($x, $y)
    {
    box-shadow: #{3px * $x} #{3px * $y} 1px -2px rgba(0, 0, 0, 0.2), #{2px * $x} #{2px * $y} 2px 0 rgba(0, 0, 0, 0.14), #{1px * $x} #{1px * $y} 5px 0 rgba(0, 0, 0, 0.12);
}
