@import '~@angular/material/theming';

@include mat-core();

@import './theme';
@import './variables';

*
{
    box-sizing: border-box;
}

html,
body
{
    height: 100%;
}

body
{
    font: 400 16px/20px 'Roboto', 'Helvetica Neue', sans-serif;
    margin: 0;
}

fa-icon
{
    line-height: initial;
}

mat-toolbar
{
    &.header,
    &.sidebar-header
    {
        font-size: 16px;
    }
}

.mat-dialog-container
{
    padding: 0 !important;

    button + button
    {
        margin-left: $margin-extra;
    }

    .mat-dialog-title
    {
        @include box-shadow(0, 1);

        margin-bottom: 0 !important;
        padding: $padding-extra !important;
        padding-left: 15px !important;
    }

    .mat-dialog-content
    {
        background: $background-dark-darker;
        margin: 0 !important;
        padding: 0 !important;

        .dialog-content-padding
        {
            padding: $padding-extra;
        }
    }

    .mat-dialog-actions
    {
        margin-bottom: 0 !important;
        padding: $padding-extra !important;

        button
        {
            justify-self: flex-end;
        }
    }

    .actions-divider
    {
        margin-top: 0 !important;
    }
}

fa-icon
{
    & + .icon-text,
    .icon-text + &
    {
        margin-left: $margin-extra;
    }
}

.mat-slide-toggle-content,
.mat-tab-label,
.mat-tab-link
{
    font-size: 16px;
}

.mat-menu-panel
{
    max-width: initial !important;

    .mat-menu-content
    {
        padding: 0 !important;

        .menu-input-wrapper
        {
            &.menu-input-wrapper
            {
                overflow: hidden;
                padding: 0 16px;
                position: relative;
            }
        }

        .icon-text
        {
            margin-left: 15px;
        }
    }
}

.mat-menu-item
{
    &[disabled]
    {
        &::after
        {
            opacity: 0.5;
        }
    }
}

.spacer
{
    flex-grow: 1;
}

[hidden]
{
    display: none !important;
}

.invisible
{
    visibility: hidden !important;
}

.mat-checkbox
{
    &.ghost-disabled
    {
        cursor: default !important;

        .mat-ripple-element
        {
            display: none !important;
        }
    }
}
